In [1]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

'Connected: jovyan@si330'

In [13]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')
%sql drop table if exists vaccinations
pd.read_csv('datasets/country_vaccinations.csv').to_sql('vaccinations', engine)
%sql drop table if exists vaccinations_m
pd.read_csv('datasets/country_vaccinations_by_manufacturer.csv').to_sql('vaccinations_m', engine)
%sql drop table if exists country_profiles

 * postgres://jovyan:***@localhost:5432/si330
Done.
 * postgres://jovyan:***@localhost:5432/si330
Done.
 * postgres://jovyan:***@localhost:5432/si330
Done.

[]

In [30]:
%sql drop table if exists country_profiles
country_df = pd.read_csv('datasets/country_profile_variables.csv')
col_list = []
for col in country_df.columns:
    string = col.replace('(', '[')
    string = string.replace(')', ']')
    string = string.replace('%', 'percent')
    col_list.append(string)
country_df.columns = col_list
country_df.to_sql('country_profiles', engine)

 * postgres://jovyan:***@localhost:5432/si330
Done.

In [31]:
%sql select * from country_profiles limit 5;

 * postgres://jovyan:***@localhost:5432/si330
5 rows affected.

[(0, 'Afghanistan', 'SouthernAsia', '652864', 35530, 54.4, 106.3, 20270, '-2.4', 623.2, '23.3', 23.3, 53.3, '61.6', '10.0', '28.5', '8.6', '19.3/83.6', 125, 125, '1458', '3568', '-2110', '-5121', '3.2', 26.7, '4.0', '5.3', '63.5/61.0', '43.2/4.1', '382.4/1.2', '1513.1', '68.6', 8.2, '0.3', '3.3', '91.1/131.6', '39.7/70.7', '3.7/13.3', 27.7, '61.6', '8.3', 42, '2.1', '9.8/0.3', 63, 5, '78.2/47.0', '45.1/27.0', '21.43', -99),
 (1, 'Albania', 'SouthernEurope', '28748', 2930, 106.9, 101.9, 11541, '2.6', 3984.2, '22.4', 26.0, 51.7, '41.4', '18.3', '40.3', '15.8', '40.2/61.0', 134, 134, '1962', '4669', '-2707', '-1222', '-0.1', 57.4, '2.2', '1.7', '79.9/75.6', '17.4/19.0', '57.6/2.0', '8.8', '14.6', 5.9, '1.3', '3.5', '111.7/115.5', '92.5/98.8', '68.1/48.7', 22.9, '106.4', '63.3', 130, '28.2', '5.7/2.0', 84, 36, '94.9/95.2', '95.5/90.2', '2.96', -99),
 (2, 'Algeria', 'NorthernAfrica', '2381741', 41318, 17.3, 102.0, 164779, '3.8', 4154.1, '12.2', 37.3, 50.5, '10.8', '34.5', '54.7', '11.4', '17.0/70.7', 160, 161, '29992', '47091', '-17099', '-27229', '2.0', 70.7, '2.8', '3.0', '76.5/74.1', '29.3/9.4', '242.4/0.6', '99.8', '27.7', 7.2, '...', '...', '112.7/119.5', '101.7/98.1', '45.1/28.9', 31.6, '113.0', '38.2', 135, '0.8', '145.4/3.7', 5900, 55, '84.3/81.8', '89.8/82.2', '0.05', -99),
 (3, 'American Samoa', 'Polynesia', '199', 56, 278.2, 103.6, -99, '-99', -99.0, '-99', -99.0, -99.0, '...', '...', '...', '...', '.../...', 112, 112, '-99', '-99', '-99', '-99', '-~0.0', 87.2, '-0.1', '2.6', '77.8/71.1', '33.3/9.0', '23.2/41.8', '-99', '9.6', -99.0, '-99', '-99', '-99', '-99', '-99', -99.0, '...', '-99', 92, '87.9', '-99', -99, -99, '100.0/100.0', '62.5/62.5', '-99', -99),
 (4, 'Andorra', 'SouthernEurope', '468', 77, 163.8, 102.3, 2812, '0.8', 39896.4, '0.5', 10.8, 88.6, '-99', '-99', '-99', '-99', '-99', -99, -99, '100', '1355', '-1255', '-99', '-1.6', 85.1, '0.1', '1.2', '-99', '14.4/19.0', '42.1/59.7', '-99', '-99', 8.1, '3.7', '3.3', '-99', '-99', '-99', 32.1, '88.1', '96.9', 13, '34.0', '0.5/6.4', 1, 119, '100.0/100.0', '100.0/100.0', '-99', -99)]